{% extends "../layout/admin_base.html" %}

{% block header_link %}
<!-- Select2 -->
<link rel="stylesheet" href="/static/admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{% endblock %}

{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>角色信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">角色信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">角色信息 列表</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                        <form action="/admin/visitor-logs/list" method="get">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label>管理员:</label>
                                                <select class="form-control select2" name="account_id" id="account_id">
                                                    <option value="">请选择管理员</option>
                                                    {% for master in masters %}
                                                    <option value="{{ master.Key }}">{{ master.Value }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label>系统类型:</label>
                                                <select class="form-control select2" name="os_category" id="os_category">
                                                    <option value="">请选择系统类型</option>
                                                    <option value="1">web端</option>
                                                    <option value="2">android端</option>
                                                    <option value="3">IOS端</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label>访问类型:</label>
                                                <select class="form-control select2" name="visit_category" id="visit_category">
                                                    <option value="">请选择访问类型</option>
                                                    {% for category in categories %}
                                                    <option value="{{ category.Key }}">{{ category.Value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button id="search-button" type="submit" class="form-control btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="data-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>访问管理员</th>
                                <th>系统类型</th>
                                <th>访问类型</th>
                                <th>关联ID</th>
                                <th>描述</th>
                                <th>IP</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>访问管理员</th>
                                <th>系统类型</th>
                                <th>访问类型</th>
                                <th>关联ID</th>
                                <th>描述</th>
                                <th>IP</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock %}

{% block content_js %}
<script src="/static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/jszip/jszip.min.js"></script>
<script src="/static/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/admin/plugins/moment/moment.min.js"></script>
<script>
    let table
    // 获取 URL 中的查询参数部分
    let queryString = window.location.search;

    // 声明一个函数用于解析查询参数
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


    $(function () {
        let account_id = getParameterByName('account_id', queryString);
        if (account_id > 0) {
            $('#account_id').val(account_id);
        }

        let visit_category = getParameterByName('visit_category', queryString);
        if (visit_category > 0) {
            $('#visit_category').val(visit_category);
        }

        let os_category = getParameterByName('os_category', queryString);
        if (os_category > 0) {
            $('#os_category').val(os_category);
        }

        table = $('#data-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Chinese.json" // 引入中文语言包
            },
            "paging": true,
            "lengthChange": false,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 10,
            "searching": false,
            "processing": true,
            "serverSide": true,
            "info": false,
            "renderer": "bootstrap",
            "pagingType": "simple_numbers",
            "columns": [
                {"data": "id"},
                {
                    "data": "account_id",
                    "render": function (data, type, row) {
                        let master
                        master = row.Master.name + "    (ID: [ " + data + " ])"
                        return master
                    }
                },
                {
                    "data": "os_category",
                    "render": function (data, type, row) {
                        if (data === 1) {
                            return 'web端';
                        } else if (data === 2) {
                            return 'android端';
                        } else if (data === 3) {
                            return 'IOS端';
                        } else {
                            return '未知';
                        }
                    }
                },
                {
                    "data": "visit_category",
                    "render": function (data, type, row) {
                        let category
                        category = row.VisitCategory.title + "    (ID: [ " + data + " ])"
                        return category
                    }
                },
                {"data": "union_id"},
                {"data": "description"},
                {"data": "ip"},
                {
                    "data": "created_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    "data": "updated_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
            ],
            "ajax": {
                url: "/admin/visitor-logs/ajax/list/",
                type: "GET",
                cache: false,
                dataSrc: "data",
                data: {
                    account_id: account_id,
                    visit_category: visit_category,
                    os_category: os_category
                },
            },
        });
    });
</script>
{% endblock %}