{% extends "../layout/admin_base.html" %}

{% block header_link %}
<!-- Select2 -->
<link rel="stylesheet" href="/static/admin/plugins/select2/css/select2.min.css">
{% endblock %}

{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>角色信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">角色信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">角色信息 列表</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                        <form action="enhanced-results.html">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>管理员:</label>
                                                <select class="select2" multiple="multiple" data-placeholder="Any" style="width: 100%;">
                                                    <option>Text only</option>
                                                    <option>Images</option>
                                                    <option>Video</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label>系统类型:</label>
                                                <select class="select2" style="width: 100%;">
                                                    <option selected>ASC</option>
                                                    <option>DESC</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label>访问类型:</label>
                                                <select class="select2" style="width: 100%;">
                                                    <option selected>Title</option>
                                                    <option>Date</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="data-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>访问管理员</th>
                                <th>系统类型</th>
                                <th>访问类型</th>
                                <th>关联ID</th>
                                <th>描述</th>
                                <th>IP</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>访问管理员</th>
                                <th>系统类型</th>
                                <th>访问类型</th>
                                <th>关联ID</th>
                                <th>描述</th>
                                <th>IP</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Modal -->
<div class="modal fade" id="edit-modal-content" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  w-100" style="max-width: none;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">角色信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_js %}
<script src="/static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/jszip/jszip.min.js"></script>
<script src="/static/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/admin/plugins/moment/moment.min.js"></script>
<script>
    let table

    $(function () {
        table = $('#data-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Chinese.json" // 引入中文语言包
            },
            "paging": true,
            "lengthChange": false,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 10,
            "searching": false,
            "processing": true,
            "serverSide": true,
            "info": false,
            "renderer": "bootstrap",
            "pagingType": "simple_numbers",
            "columns": [
                {"data": "id"},
                {
                    "data": "account_id",
                    "render": function (data, type, row) {
                        let master
                        master = row.Master.name + "    (ID: [ " + data + " ])"
                        return master
                    }
                },
                {
                    "data": "os_category",
                    "render": function (data, type, row) {
                        if (data === 1) {
                            return 'web端';
                        } else if (data === 2) {
                            return 'android端';
                        } else if (data === 3) {
                            return 'IOS端';
                        } else {
                            return '未知';
                        }
                    }
                },
                {
                    "data": "visit_category",
                    "render": function (data, type, row) {
                        let category
                        category = row.VisitCategory.title + "    (ID: [ " + data + " ])"
                        return category
                    }
                },
                {"data": "union_id"},
                {"data": "description"},
                {"data": "ip"},
                {
                    "data": "created_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    "data": "updated_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
            ],
            "ajax": {
                "url": "/admin/visitor-logs/ajax/list/",
                "type": "GET",
                "cache": false,
                "dataSrc": "data"
            },
        });

        // 点击搜索按钮时执行
        $('#search-button').on('click', function() {
            var adminValue = $('#admin-select').val();
            var systemValue = $('#system-select').val();
            var visitValue = $('#visit-select').val();

            // 发送 AJAX 请求获取新数据
            $.ajax({
                url: 'your-api-endpoint-url',
                method: 'GET',
                data: {
                    admins: adminValue,
                    systems: systemValue,
                    visits: visitValue
                },
                success: function(data) {
                    // 清空表格数据
                    table.clear().draw();

                    // 更新表格数据
                    table.rows.add(data).draw();
                },
                error: function() {
                    // 处理错误
                }
            });
        });

    });
</script>
{% endblock %}