{{ define "admin/system_master/change_master_info.html" }}
{{ template "admin/layout/admin_base" . }}
{{ end }}
{{ define "content_header" }}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>编辑个人信息</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item active">编辑个人信息</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
{{ end }}

{{ define "content" }}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">个人信息 <small>编辑</small></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form id="master-info">
            <div class="card-body">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="电子信箱">
              </div>
              <div class="form-group">
                <label for="name">用户姓名</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="姓名">
              </div>
              <div class="tel">
                <label for="name">用户电话</label>
                <input type="text" name="tel" class="form-control" id="tel" placeholder="电话">
              </div>
              <div class="form-group mb-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                  <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{{ end }}


