{% extends "../layout/admin_base.html" %}
{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>管理员信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">创建管理员信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">管理员信息 <small>创建</small></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                    {% if fail %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-danger color-palette text-center" style="width: 200px;">
                                <span>{{ fail }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if success %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-success color-palette text-center" style="width: 200px;">
                                <span>{{ success }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="form-info" method="post" action="/admin/master/create">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">用户姓名</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="用户姓名" value="{{ ginContext|old:'name' }}">
                                {% if err_msg["Name"] %}
                                <span class="text-danger">{{ err_msg["Name"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{ ginContext|old:'email' }}">
                                {% if err_msg["Email"] %}
                                <span class="text-danger">{{ err_msg["Email"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="tel">用户电话</label>
                                <input type="text" name="tel" class="form-control" id="tel" placeholder="用户电话" value="{{ ginContext|old:'tel' }}">
                                {% if err_msg["Tel"] %}
                                <span class="text-danger">{{ err_msg["Tel"] }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交信息</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content_js %}
<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#form-info').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    maxlength: 20
                },
                email:{
                    required: true,
                    email: true
                },
                tel: {
                    required: true,
                    digits: true,
                    minlength: 5,
                    maxlength: 15
                },
            },
            messages: {
                name: {
                    required: "请输入姓名",
                    minlength: "姓名长度不能小于2位",
                    maxlength: "姓名长度不能大于20位"
                },
                email: {
                    required: "请输入邮箱",
                    email: "请输入有效的邮箱地址"
                },
                tel: {
                    required: "请输入电话号码",
                    digits: "电话号码只能包含数字",
                    minlength: "电话号码长度不能小于5位",
                    maxlength: "电话号码长度不能大于15位"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{% endblock %}