{% extends "../layout/admin_base.html" %}

{% block header_link %}
<link rel="stylesheet" href="/static/admin/plugins/toastr/toastr.min.css">
{% endblock %}

{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>文章分类信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">文章分类信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">文章分类信息 列表</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="data-list" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>分类名称</th>
                                <th>备注</th>
                                <th>显示状态</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>分类名称</th>
                                <th>备注</th>
                                <th>显示状态</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Modal -->
<div class="modal fade" id="edit-modal-content" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  w-100" style="max-width: none;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">文章分类信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content_js %}
<script src="/static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/jszip/jszip.min.js"></script>
<script src="/static/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/static/admin/plugins/moment/moment.min.js"></script>
<script src="/static/admin/plugins/toastr/toastr.min.js"></script>
<script>
    let table

    $(function () {
        table = $('#data-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Chinese.json" // 引入中文语言包
            },
            "paging": true,
            "lengthChange": false,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 10,
            "searching": false,
            "processing": true,
            "serverSide": true,
            "info": false,
            "renderer": "bootstrap",
            "pagingType": "simple_numbers",
            "columns": [
                {"data": "id"},
                {"data": "name"},
                {"data": "remark"},
                {
                    "data": "status",
                    "render": function (data, type, row) {
                        if (data == 1) {
                            return "显示";
                        } else {
                            return "隐藏";
                        }
                    }
                },
                {
                    "data": "created_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    "data": "updated_at",
                    "render": function (data, type, row) {
                        // 使用 Moment.js 格式化时间
                        return moment(data).format("YYYY-MM-DD HH:mm:ss");
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let status = "隐藏"
                        let fettle = 2
                        if (data.status == 2) {
                            status = "显示"
                            fettle = 1
                        }
                        return `
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary btn-edit" data-id="${data.id}" data-toggle="modal" data-target="#edit-modal-content">编辑</button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-primary btn-edit-status" data-id="${data.id}" data-status="${fettle}">${status}</button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-primary btn-delete" data-id="${data.id}">删除</button>
                                </div>
                               `;
                    }
                }
            ],
            "ajax": {
                "url": "/admin/article-category/ajax/list/",
                "type": "GET",
                "cache": false,
                "dataSrc": "data"
            },
        });

        let messageOpts = {
            "closeButton": true,// 是否显示关闭按钮
            "progressBar": true,// 是否显示进度条
            "positionClass": "toast-top-center",// 弹出窗的位置
            "showDuration": "1000",// 显示的动画时间
            "hideDuration": "1000",// 消失的动画时间
            "timeOut": "6000",// 弹窗展现时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut", //消失时的动画方式
        };
        toastr.options = messageOpts;

        $('#data-list').on('click', '.btn-edit-status', function () {
            // 获取ID
            let id = $(this).data('id');
            let status = $(this).data('status');

            // 弹出确认对话框
            if (confirm("是否更改发布状态？")) {
                // 用户点击确认，发起 Ajax 请求
                $.ajax({
                    url: '/admin/article-category/ajax/edit/status',
                    type: 'POST',
                    data: {
                        id: id,
                        status: status,
                    },
                    success: function(response) {
                        if (response.code == 0) {
                            setTimeout(function() {
                                toastr.success("删除单页信息成功", "成功")
                                table.draw(false);
                            }, 500);
                        } else {
                            toastr.error(response.message, "错误")
                        }
                    },
                    error: function(xhr, status, error) {
                        // 处理错误响应
                        console.error('提交失败');
                    }
                });
            }
        });

        $('#data-list').on('click', '.btn-delete', function () {
            // 获取ID
            let id = $(this).data('id');

            // 弹出确认对话框
            if (confirm("是否删除单页信息？")) {
                // 用户点击确认，发起 Ajax 请求
                $.ajax({
                    url: '/admin/single-page/ajax/delete',
                    type: 'POST',
                    data: {
                        id: id,
                    },
                    success: function(response) {
                        // 处理成功响应
                        if (response.code == 0) {
                            toastr.success("修改单页信息发布状态成功", "成功")
                            setTimeout(function() {
                                table.draw(false);
                            }, 500);
                        } else {
                            toastr.error(response.message, "错误")
                        }
                    },
                    error: function(xhr, status, error) {
                        // 处理错误响应
                        console.error('提交失败');
                    }
                });
            }
        });

        $('#data-list').on('click', '.btn-edit', function () {
            // 获取ID
            let id = $(this).data('id');

            // 使用 AJAX 获取填充表单
            $('.modal-body').load('/admin/article-category/edit?id=' + id, function (response, status, xhr) {
                if (status === 'error') {
                    // 处理加载错误的情况
                    $('.modal-body').html('<p>加载失败，请重试。</p>');
                }
            });
        });
    });
</script>
{% endblock %}