{{ define "admin/dashboard/create_master_role.html" }}
{{ template "admin/layout/admin_base" . }}
{{ end }}


{{ define "content_header" }}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>编辑个人信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">创建角色信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{{ end }}