{% extends "../layout/admin_base.html" %}
{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>绑定角色信息关</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">创建绑定角色信息关</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">绑定角色信息关 <small>创建</small></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                    {% if success %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-success color-palette text-center" style="width: 200px;">
                                <span>{{ success }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="form-info" method="post" action="/admin/master-role-relation/create">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="role">角色名称</label>
                                <select name="role_id" class="form-control select2" style="width: 100%;" id="role">
                                    <option value="">请选择角色</option>
                                    {% for roleID, roleName in roles %}
                                    <option value="{{ roleID }}">{{ roleName }}</option>
                                    {% endfor %}
                                </select>
                                {% if err_msg["RoleID"] %}
                                <span class="text-danger">{{ err_msg["RoleID"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="master">管理员</label>
                                <select name="account_id" class="form-control select2" style="width: 100%;" id="master">
                                    <option value="">请选择管理员</option>
                                    {% for masterID, masterName in masters %}
                                    <option value="{{ masterID }}">{{ masterName }}</option>
                                    {% endfor %}
                                </select>
                                {% if err_msg["AccountID"] %}
                                <span class="text-danger">{{ err_msg["AccountID"] }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交信息</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content_js %}
<script>
    $(function () {
        let accountID = '{{ form.AccountID }}';
        if (accountID > 0) {
            $('#role').val('{{ form.AccountID }}');
        }
        let roleID = '{{ form.RoleID }}'
        if (roleID > 0) {
            $('#role').val('{{ form.RoleID }}');
        }

        $.validator.setDefaults({
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#form-info').validate({
            rules: {
                role_id: {
                    required: true,
                    digits: true
                },
                account_id: {
                    required: true,
                    digits: true
                }
            },
            messages: {
                role_id: {
                    required: "请选择角色",
                    digits: "角色信息数据错误"
                },
                account_id: {
                    required: "请选择管理员",
                    digits: "管理员信息数据错误"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{% endblock %}