{% extends "../layout/admin_base.html" %}
{% block header_link %}
<link href="/static/admin/plugins/summernote/summernote-bs4.min.css" rel="stylesheet">
<link href="/static/admin/plugins/dropzone/min/dropzone.min.css" rel="stylesheet">
{% endblock %}

{% block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>管理员信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">创建管理员信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">管理员信息 <small>创建</small></h3>
                        <div class="card-tools">
                            <button class="btn btn-tool" onclick="location.reload();" type="button">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                    {% if fail %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-danger color-palette text-center" style="width: 200px;">
                                <span>{{ fail }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if success %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-success color-palette text-center" style="width: 200px;">
                                <span>{{ success }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/admin/master/create" id="form-info" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">标题</label>
                                <input class="form-control" id="title" name="title" placeholder="页面标题" type="text" value="{{ ginContext|old:'title' }}">
                                {% if err_msg["Title"] %}
                                <span class="text-danger">{{ err_msg["Title"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="description">描述</label>
                                <input class="form-control" id="description" name="description" placeholder="页面描述" type="text" value="{{ ginContext|old:'description' }}">
                                {% if err_msg["Description"] %}
                                <span class="text-danger">{{ err_msg["Description"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="keyword">关键字</label>
                                <input class="form-control" id="keyword" name="keyword" placeholder="页面关键字" type="text" value="{{ ginContext|old:'keyword' }}">
                                {% if err_msg["Keyword"] %}
                                <span class="text-danger">{{ err_msg["Keyword"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="keyword">内容</label>
                                <textarea id="summernote" name="content"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="keyword">缩略图</label>
                                <div class="row" id="actions">
                                    <div class="col-lg-6">
                                        <div class="btn-group w-100">
                                              <span class="btn btn-success col fileinput-button">
                                                <i class="fas fa-plus"></i>
                                                <span>Add files</span>
                                              </span>
                                            <button class="btn btn-primary col start" type="submit">
                                                <i class="fas fa-upload"></i>
                                                <span>Start upload</span>
                                            </button>
                                            <button class="btn btn-warning col cancel" type="reset">
                                                <i class="fas fa-times-circle"></i>
                                                <span>Cancel upload</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-flex align-items-center">
                                        <div class="fileupload-process w-100">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress progress-striped active" id="total-progress" role="progressbar">
                                                <div class="progress-bar progress-bar-success" data-dz-uploadprogress style="width:0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table table-striped files" id="previews">
                                    <div class="row mt-2" id="template">
                                        <div class="col-auto">
                                            <span class="preview"><img alt="" data-dz-thumbnail src="data:,"/></span>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <p class="mb-0">
                                                <span class="lead" data-dz-name></span>
                                                (<span data-dz-size></span>)
                                            </p>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>
                                        <div class="col-4 d-flex align-items-center">
                                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress progress-striped active w-100" role="progressbar">
                                                <div class="progress-bar progress-bar-success" data-dz-uploadprogress style="width:0%;"></div>
                                            </div>
                                        </div>
                                        <div class="col-auto d-flex align-items-center">
                                            <div class="btn-group">
                                                <button class="btn btn-primary start">
                                                    <i class="fas fa-upload"></i>
                                                    <span>Start</span>
                                                </button>
                                                <button class="btn btn-warning cancel" data-dz-remove>
                                                    <i class="fas fa-times-circle"></i>
                                                    <span>Cancel</span>
                                                </button>
                                                <button class="btn btn-danger delete" data-dz-remove>
                                                    <i class="fas fa-trash"></i>
                                                    <span>Delete</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keyword">内容</label>
                                <div class="dropzone" id="myDropzone"></div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">提交信息</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block content_js %}
<script src="/static/admin/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/static/admin/plugins/dropzone/min/dropzone.min.js"></script>
<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#form-info').validate({
            rules: {
                title: {
                    required: true,
                    maxlength: 20
                },
            },
            messages: {
                title: {
                    required: "请输入标题",
                    maxlength: "姓名长度不能大于80位"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });

    $('#summernote').summernote({
        height: 500,
        callbacks: {
            onImageUpload: function (files) {
                // 创建表单数据对象
                let formData = new FormData();
                formData.append('file', files[0]);

                // 发送文件到服务器
                fetch('/admin/upload/file', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // 在编辑器中插入图片
                        $('#summernote').summernote('insertImage', data.url);
                    })
                    .catch(error => console.error('Error uploading file:', error));
            }
        }
    });

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/target-url", // Set the url
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file)
        }
    })

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1"
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })

    // Hide the total progress bar when nothing'svc uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0"
    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
</script>
{% endblock %}