{% extends "../layout/admin_base.html" %}
{%  block content_header %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>编辑个人信息</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="jumpToHome()">Home</a></li>
                    <li class="breadcrumb-item active">创建角色信息</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{%  endblock %}
{%  block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">角色信息 <small>创建</small></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="javascript:location.reload();">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                    {% if success %}
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                        <div class="color-palette-set">
                            <div class="bg-success color-palette text-center" style="width: 200px;">
                                <span>{{ success }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="master-info" method="post" action="/admin/change-master-info">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">角色名称</label>
                                <input type="email" name="name" class="form-control" id="name" placeholder="角色名称" value='{{ old .ginContext 'yourKey' }}">
                                {% if err_msg["Email"] %}
                                <span class="text-danger">{{ err_msg["Email"] }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="remark">备注</label>
                                <input type="text" name="remark" class="form-control" id="remark" placeholder="备注" value="">
                                {% if err_msg["Remark"] %}
                                <span class="text-danger">{{ err_msg["Remark"] }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交信息</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{%  endblock %}